In [1]:
import pandas
import datetime
import feather
import numpy
from aacgmv2 import convert_mlt

In [2]:
eventDate = datetime.datetime(2011,7,5)
dateLimList = [ datetime.datetime(2011,7,5,3,0),\
                 datetime.datetime(2011,7,5,7,0) ]

In [3]:
def convert_to_datetime(row):
    currDateStr = str( int( row["dateStr"] ) )
#     return currDateStr
    if row["timeStr"] < 10:
        currTimeStr = "000" + str( int( row["timeStr"] ) )
    elif row["timeStr"] < 100:
        currTimeStr = "00" + str( int( row["timeStr"] ) )
    elif row["timeStr"] < 1000:
        currTimeStr = "0" + str( int( row["timeStr"] ) )
    else:
        currTimeStr = str( int( row["timeStr"] ) )
    return datetime.datetime.strptime( currDateStr\
                    + ":" + currTimeStr, "%Y%m%d:%H%M" )

In [4]:
inpColList = [ "dateStr", "timeStr", "Mlat",\
              "Mlon", "med_tec", "dlat", "dlon" ]
inpFile = "../data/tec-medFilt-" + eventDate.strftime("%Y%m%d") + ".txt"
medFiltTECDF = pandas.read_csv(inpFile, delim_whitespace=True,\
                                    header=None, names=inpColList)
medFiltTECDF["date"] = medFiltTECDF.apply( convert_to_datetime, axis=1 )
medFiltTECDF = medFiltTECDF[ (medFiltTECDF["date"] >= dateLimList[0]) &\
                    (medFiltTECDF["date"] <= dateLimList[1] ) ]
medFiltTECDF["MLT"] = [ convert_mlt( mlon, ts , m2a=False ) \
                       for (mlon,ts) in zip(medFiltTECDF["Mlon"],\
                                            medFiltTECDF["date"]) ]

feather.write_dataframe( medFiltTECDF, "../data/tec-mf-" +\
                        dateLimList[0].strftime("%Y%m%d") + ".feather" )
medFiltTECDF.head()

,dateStr,timeStr,Mlat,Mlon,med_tec,dlat,dlon,date,MLT
190778,20110705,300,11.0,0.0,5.4,1.0,2.0,2011-07-05 03:00:00,22.205744
190779,20110705,300,11.0,2.0,10.2,1.0,2.0,2011-07-05 03:00:00,22.339078
190780,20110705,300,11.0,4.0,8.9,1.0,2.0,2011-07-05 03:00:00,22.472411
190781,20110705,300,11.0,6.0,7.5,1.0,2.0,2011-07-05 03:00:00,22.605744
190782,20110705,300,11.0,8.0,7.4,1.0,2.0,2011-07-05 03:00:00,22.739078